<main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
    <div class="container register-container">
        <div class="card login-card">
            <div class="row no-gutters">
                <div class="col-md-6">
                    <img src="assets/images/register.jpg" alt="login" class="login-card-img">
                </div>
                <div class="col-md-6">
                    <div class="card-body register-card-body">
                        <div class="brand-wrapper">
                            <img src="assets/images/covid191.png" alt="logo" class="logo">
                        </div>
                        <p class="login-card-description">Register your Free Account!</p>
                        <form [formGroup]="registerForm" (ngSubmit)="register()">
                            <div class="form-group">
                                <label for="email" class="sr-only">First name</label>
                                <input type="text" name="firstName" id="firstName" class="form-control" formControlName="firstName" placeholder="First Name">
                            </div>
                            <div class="form-group">
                                <label for="email" class="sr-only">Last name</label>
                                <input type="text" name="lastName" id="lastName" class="form-control" formControlName="lastName" placeholder="Last Name">
                            </div>
                            <div class="form-group">
                                <label for="email" class="sr-only">Email</label>
                                <input type="email" name="email" id="email" class="form-control" formControlName="email" placeholder="Email address">
                            </div>
                            <div class="form-group mb-4">
                                <label for="password" class="sr-only">Password</label>
                                <input type="password" name="password" id="password" formControlName="password" class="form-control" placeholder="***********">
                            </div>
                            <input name="register" id="register" class="btn btn-block login-btn mb-4" type="submit" value="Register">
                        </form>
                        <p class="login-card-footer-text">Already have an account? <a routerLink="/login" class="text-reset">Login here</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>